In [1]:
import pandas as pd

In [2]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
movies.shape

(4803, 20)

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
credits.shape

(4803, 4)

In [7]:
df = movies.merge(credits, on = 'title' )

In [8]:
df.shape

(4809, 23)

In [9]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [11]:
movies  = df[['movie_id','genres','keywords','release_date','overview','title','cast','crew']]

In [12]:
movies.head()

,movie_id,genres,keywords,release_date,overview,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",2009-12-10,"In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",2007-05-19,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",2015-10-26,A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",2012-07-16,Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",2012-03-07,"John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
movies.isnull().sum()

movie_id        0
genres          0
keywords        0
release_date    1
overview        3
title           0
cast            0
crew            0
dtype: int64

In [14]:
movies = movies.dropna()
movies.isnull().sum()

movie_id        0
genres          0
keywords        0
release_date    0
overview        0
title           0
cast            0
crew            0
dtype: int64

In [15]:
movies.duplicated().sum()

0

In [16]:
movies.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
import ast
def converter(convert):
    lis=[]

    for feature in ast.literal_eval(convert):
        lis.append(feature['name'])
    return lis   
    
def fetch3(convert):
    counter =0
    L =[]
    for feature in ast.literal_eval(convert):
        if counter !=3:
            L.append(feature['name'])
            counter+=1
        else:
            break
    return L     
def fetch_director(convert):
    l =[]
    for feature in ast.literal_eval(convert):
        if feature['job'] == 'Director':
            
            l.append(feature['name'])
            break
    return l

In [18]:
movies['genres'] = movies['genres'].apply(converter)
movies['keywords'] = movies['keywords'].apply(converter)
movies['cast'] = movies['cast'].apply(fetch3)
movies['crew'] = movies['crew'].apply(fetch_director)

In [19]:
movies.head()

,movie_id,genres,keywords,release_date,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",2009-12-10,"In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",2007-05-19,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",2015-10-26,A cryptic message from Bond’s past sends him o...,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",2012-07-16,Following the death of District Attorney Harve...,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",2012-03-07,"John Carter is a war-weary, former military ca...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [20]:
movies['release_date'] = [i.split('-')[0] for i in movies['release_date']]
movies['release_date'] = pd.to_numeric(movies['release_date'])

In [21]:
movies.head()

,movie_id,genres,keywords,release_date,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",2009,"In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",2007,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",2015,A cryptic message from Bond’s past sends him o...,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",2012,Following the death of District Attorney Harve...,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",2012,"John Carter is a war-weary, former military ca...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [22]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [23]:
movies.head()

,movie_id,genres,keywords,release_date,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",2009,"[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",2007,"[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",2015,"[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",2012,"[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",2012,"[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [24]:
movies['tags'] = movies['genres']+ movies['keywords'] + movies['overview']+ movies['cast']+movies['crew']

In [25]:

movies = movies.drop(columns=['genres','keywords','overview','cast','crew'])
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [26]:
movies.head()

,movie_id,release_date,title,tags
0,19995,2009,Avatar,Action Adventure Fantasy Science Fiction cultu...
1,285,2007,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drug abuse exot...
2,206647,2015,Spectre,Action Adventure Crime spy based on novel secr...
3,49026,2012,The Dark Knight Rises,Action Crime Drama Thriller dc comics crime fi...
4,49529,2012,John Carter,Action Adventure Science Fiction based on nove...

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [28]:
vector = cv.fit_transform(movies['tags']).toarray()

In [29]:
vector.shape

(4805, 5000)

In [30]:
cv.get_feature_names()

/home/pratik/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980',
 '1980s',
 '1990s',
 '19th',
 '20',
 '200',
 '2009',
 '20th',
 '21st',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '60s',
 '70',
 'aaron',
 'abandoned',
 'abducted',
 'abigail',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abraham',
 'abroad',
 'abuse',
 'abusive',
 'academy',
 'accent',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adaptation',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adolescent',
 'adolf',
 'adopted',
 'adoption',
 'adopts',
 'adrian',
 'adrien',
 'adult',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affection',
 'affections',
 'affleck',
 'afghanistan',
 'africa',
 'african',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggression',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aidan',
 'aided',
 'aids',
 'ailing',
 'air',
 'aircraft',
 'airplane',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'alba',
 'albert',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alec',
 'alejandro',
 'alex',
 'alexander',
 'alexis',
 'alfred',
 'ali',
 'alice',
 'alicia',
 'alien',
 'aliens',
 'alike',
 'alive',
 'allan',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allison',
 'allow',
 'allows',
 'ally',
 'alongside',
 'alter',
 'alternate',
 'alternative',
 'alzheimer',
 'amanda',
 'amateur',
 'amazing',
 'amazon',
 'ambassador',
 'amber',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'american',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amusement',
 'amy',
 'ana',
 'analyst',
 'anarchic',
 'ancient',
 'anderson',
 'andie',
 'andrew',
 'andrews',
 'android',
 'andré',
 'andy',
 'ang',
 'angel',
 'angela',
 'angeles',
 'angelina',
 'anger',
 'angry',
 'animal',
 'animals',
 'animated',
 'animation',
 'aniston',
 'ann',
 'anna',
 'anne',
 'annette',
 'annie',
 'anniversary',
 'annual',
 'anonymous',
 'answer',
 'answers',
 'ant',
 'anthology',
 'anthony',
 'anthropomorphism',
 'anti',
 'antics',
 'antoine',
 'anton',
 'antonio',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'appear',
 'appears',
 'apple',
 'apprentice',
 'approach',
 'approaches',
 'april',
 'arab',
 'arch',
 'archaeologist',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'arkin',
 'arm',
 'armed',
 'armored',
 'arms',
 'armstrong',
 'army',
 'arnold',
 'arquette',
 'arranged',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'arriving',
 'arrogant',
 'arrow',
 'art',
 'arthur',
 'article',
 'artificial',
 'artist',
 'artistic',
 'artists',
 'arts',
 'ash',
 'ashley',
 'ashton',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'athlete',
 'atkins',
 'atlantic',
 'atomic',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempted',
 'attempting',
 'attempts',
 'attending',
 'attention',
 'attitude',
 'attorney',
 'attract',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'audrey',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'autobiographical',
 'automobile',
 'avenge',
 'average',
 'avoid',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'ax',
 'axe',
 'aykroyd',
 'babe',
 'baby',
 'bachchan',
 'bachelor',
 'backdrop',
 'background',
 'backgrounds',
 'bacon',
 'bad',
 'bag',
 'bahamas',
 'bail',
 'bailey',
 'baker',
 'balance',
 'baldwin',
 'bale',
 'ball',
 'ballet',
 'baltimore',
 'bana',
 'band',
 'banderas',
 'banished',
 'bank',
 'banker',
 'banks',
 'bar',
 'barbara',
 'bardem',
 'barely',
 'bargained',
 'barn',
 'barnes',
 'barney',
 'baron',
 'barrier',
 'barry',
 'barrymore',
 'bars',
 'base',
 'baseball',
 'based',
 'basement',
 'basinger',
 'basketball',
 'bassett',
 'bat',
 'bateman',
 'bates',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'bay',
 'beach',
 'bean',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beatty',
 'beautiful',
 'beauty',
 'beck',
 'becker',
 'beckinsale',
 'becky',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'bell',
 'bella',
 'belle',
 'bello',
 'beloved',
 'ben',
 'beneath',
 'benicio',
 'bening',
 'benjamin',
 'bennett',
 'bent',
 'bentley',
 'berg',
 'berlin',
 'bernie',
 'berry',
 'best',
 'bet',
 'beth',
 'betrayal',
 'bettany',
 'bette',
 'better',
 'betty',
 'beverly',
 'bible',
 'biel',
 'big',
 'bigger',
 'biggest',
 'biggs',
 'bike',
 'biker',
 'bikini',
 'billionaire',
 'billy',
 'biography',
 'biological',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackmail',
 'blade',
 'blair',
 'blake',
 'blame',
 'blanchett',
 'bledel',
 'blind',
 'blindness',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloodthirsty',
 'bloody',
 'bloom',
 'blow',
 'blue',
 'blunt',
 'board',
 'boarding',
 'boat',
 'bob',
 'bobby',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'bonham',
 'bonnie',
 'booby',
 'book',
 'books',
 'booth',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'bosworth',
 'bound',
 'boundaries',
 'bounty',
 'bowling',
 'bowman',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyd',
 'boyfriend',
 'boyle',
 'boys',
 'brad',
 'bradford',
 'bradley',
 'brain',
 'branagh',
 'brand',
 'brandon',
 'bratt',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breaks',
 'brendan',
 'brent',
 'breslin',
 'brett',
 'brian',
 'bride',
 'bridge',
 'bridges',
 'bridget',
 'brie',
 'brief',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britt',
 'brittany',
 'broadbent',
 'broadcast',
 'broadway',
 'broderick',
 'brody',
 'broke',
 'broken',
 'broker',
 'brolin',
 'brooke',
 'brooklyn',
 'brooks',
 'brosnan',
 'brothel',
 'brother',
 'brothers',
 'brought',
 'brown',
 'bruce',
 'brutal',
 'brutality',
 'brutally',
 'bryan',
 'buck',
 'buddies',
 'buddy',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bullock',
 'bully',
 'bullying',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'burke',
 'burned',
 'burning',
 'burns',
 'burt',
 'burton',
 'bus',
 'buscemi',
 'bush',
 'business',
 'businessman',
 'bust',
 'busy',
 'butler',
 'buy',
 'buzz',
 'byrne',
 'caan',
 'cabin',
 'cable',
 'caesar',
 'cage',
 'caine',
 'cairo',
 'cal',
 'california',
 'called',
 'calling',
 'calls',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'cameron',
 'camp',
 'campaign',
 'campbell',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candy',
 'cannibal',
 'cannon',
 'capable',
 'caper',
 'capital',
 'capitalism',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'car',
 'card',
 'care',
 'career',
 'carefree',
 'carell',
 'caretaker',
 'carey',
 'cargo',
 'caribbean',
 'carl',
 'carla',
 'carlo',
 'carlos',
 'carmen',
 'carnival',
 'carol',
 'carolina',
 'caroline',
 'carpenter',
 'carradine',
 'carrey',
 'carrie',
 'carrier',
 'carroll',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'cary',
 'case',
 'casey',
 'cash',
 'casino',
 'cassidy',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catch',
 'catches',
 'cate',
 'catherine',
 'catholic',
 'catholicism',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'caviezel',
 'cedric',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cell',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceremony',
 'certain',
 'chad',
 'chain',
 'chair',
 'challenge',
 'challenged',
 'challenges',
 'chambers',
 'champion',
 'championship',
 'chan',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channing',
 'chaos',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charismatic',
 'charles',
 'charlie',
 'charlize',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chased',
 'chases',
 'chat',
 'chauffeur',
 'chazz',
 'cheadle',
 'cheating',
 'cheerleader',
 'chef',
 'chelsea',
 'chemical',
 'chen',
 'cher',
 'cheryl',
 'chestnut',
 'chevy',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'chip',
 'chloë',
 'chocolate',
 'choice',
 'choices',
 'choir',
 'choose',
 'chopra',
 'chosen',
 'chow',
 'chris',
 'christ',
 'christensen',
 'christian',
 'christianity',
 'christina',
 'christine',
 'christmas',
 'christoph',
 'christopher',
 'chronicle',
 'chronicles',
 'chuck',
 'church',
 'cia',
 'cigarette',
 'cillian',
 'cinema',
 'cinematic',
 'circle',
 'circuit',
 'circumstances',
 'circus',
 'citizens',
 'city',
 'civil',
 'civilization',
 'claim',
 'claims',
 'claire',
 'clan',
 'clark',
 'clarke',
 'clash',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'classroom',
 'claude',
 'claudia',
 'claus',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliff',
 'climate',
 'climbing',
 'clint',
 'clive',
 'clock',
 'clone',
 'cloning',
 'clooney',
 'close',
 'closer',
 'closet',
 'clown',
 'club',
 'clues',
 'clutches',
 'coach',
 'coal',
 'coast',
 'cocaine',
 'code',
 'cody',
 'coen',
 'coffin',
 'cohen',
 'col',
 'cold',
 'cole',
 'coleman',
 'colin',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'collector',
 'college',
 'collette',
 'collide',
 'collins',
 'collision',
 'colonel',
 'colony',
 'color',
 'colorado',
 'colorful',
 'columbus',
 'coma',
 'combat',
 'combined',
 'come',
 'comeback',
 'comedian',
 'comedic',
 'comedy',
 'comes',
 'comet',
 'comic',
 'comics',
 'coming',
 'command',
 'commander',
 'commando',
 'commercial',
 'commit',
 'commitment',
 'committed',
 'common',
 'communication',
 'community',
 'companion',
 'company',
 'compete',
 'competing',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'composer',
 'compulsive',
 'computer',
 'conan',
 'concentration',
 'concert',
 'condition',
 'confederate',
 'conference',
 'confession',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronted',
 'confused',
 'congress',
 'connected',
 'connection',
 'connell',
 'connelly',
 'connery',
 'connie',
 'connolly',
 'connor',
 'conquer',
 'conrad',
 'conscience',
 'consequences',
 'conservative',
 'considered',
 'conspiracy',
 'constant',
 'constantly',
 'construction',
 'contact',
 'contemporary',
 'contend',
 'contest',
 'continue',
 'continues',
 'contract',
 'control',
 'controlled',
 'controlling',
 'controversial',
 'convention',
 ...]

In [31]:
import nltk
from nltk.stem.porter import PorterStemmer
Ps = PorterStemmer()

In [32]:
def stem(obj):
    word=[]
    for i in obj.split():
        word.append(Ps.stem(i))
    return " ".join(word)

In [33]:
movies['tags']=movies['tags'].apply(stem)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity
cosine = cosine_similarity(vector)

In [35]:
movies.head(30)

,movie_id,release_date,title,tags
0,19995,2009,Avatar,action adventur fantasi scienc fiction cultur ...
1,285,2007,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drug abus exot i...
2,206647,2015,Spectre,action adventur crime spi base on novel secret...
3,49026,2012,The Dark Knight Rises,action crime drama thriller dc comic crime fig...
4,49529,2012,John Carter,action adventur scienc fiction base on novel m...
5,559,2007,Spider-Man 3,fantasi action adventur dual ident amnesia san...
6,38757,2010,Tangled,anim famili hostag magic hors fairi tale music...
7,99861,2015,Avengers: Age of Ultron,action adventur scienc fiction marvel comic se...
8,767,2009,Harry Potter and the Half-Blood Prince,adventur fantasi famili witch magic broom scho...
9,209112,2016,Batman v Superman: Dawn of Justice,action adventur fantasi dc comic vigilant supe...
10,1452,2006,Superman Returns,adventur fantasi action scienc fiction save th...
11,10764,2008,Quantum of Solace,adventur action thriller crime kill undercov s...
12,58,2006,Pirates of the Caribbean: Dead Man's Chest,adventur fantasi action witch fortun teller bo...
13,57201,2013,The Lone Ranger,action adventur western texa hors survivor tex...
14,49521,2013,Man of Steel,action adventur fantasi scienc fiction save th...
15,2454,2008,The Chronicles of Narnia: Prince Caspian,adventur famili fantasi base on novel fiction ...
16,24428,2012,The Avengers,scienc fiction action adventur new york shield...
17,1865,2011,Pirates of the Caribbean: On Stranger Tides,adventur action fantasi sea captain mutini swo...
18,41154,2012,Men in Black 3,action comedi scienc fiction time travel time ...
19,122917,2014,The Hobbit: The Battle of the Five Armies,action adventur fantasi corrupt elv dwarv orc ...
20,1930,2012,The Amazing Spider-Man,action adventur fantasi loss of father vigilan...
21,20662,2010,Robin Hood,action adventur robin hood archer knight sherw...
22,57158,2013,The Hobbit: The Desolation of Smaug,adventur fantasi elv dwarv orc hobbit dragon w...
23,2268,2007,The Golden Compass,adventur fantasi england compass experi lordsh...
24,254,2005,King Kong,adventur drama action film busi screenplay sho...
25,597,1997,Titanic,drama romanc thriller shipwreck iceberg ship p...
26,271110,2016,Captain America: Civil War,adventur action scienc fiction civil war war m...
27,44833,2012,Battleship,thriller action adventur scienc fiction fight ...
28,135397,2015,Jurassic World,action adventur scienc fiction thriller monste...
29,37724,2012,Skyfall,action adventur thriller spi secret agent soci...

In [36]:
cosine[0]

array([1.        , 0.06885304, 0.04948717, ..., 0.03142697, 0.05410018,
       0.        ])

In [37]:
def Recommender(movie):
    movie_index =movies[movies['title'] == movie].index[0]
    distance = cosine[movie_index]
    movies_list =sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(i[0])
#         print(movies.iloc[i[0]].title)

In [38]:
Recommender('King Kong')

4267
2374
4749
2465
4461

In [39]:
movies[movies['title'] == 'King Kong'].index[0]

24

In [40]:
print(movie_names)

NameError: name 'movie_names' is not defined

In [ ]:
import pickle
pickle.dump(movies,open('df.pkl','wb'))

import pickle
pickle.dump(cosine,open('distance.pkl','wb'))

In [ ]:
for i in movies.title:
    print(i)

In [130]:
lis=[]
l=[4,22,5,6]
k=[3,2,1,5]


for i in l,k:
    lis.append(i)

In [146]:
j=0

for i in l:
    print(i)
    print(k[j])
    j=j+1

4
3
22
2
5
1
6
5

In [145]:
k

[3, 2, 1, 5]

In [96]:

for j in range(len(r()[0])):
    
    for i in r():
        ls.append(i[j])

In [97]:
ls

[4, 3, 22, 2, 5, 1, 6, 5]

In [101]:
for i in ls:
    print(i)

4
3
22
2
5
1
6
5